*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppApp {
  text-align: center;
  width: 85vw;
  height: fit-content;
  padding: 1.5rem;
  border-radius: 15px;
  background-color: rgb(202, 202, 250);
  opacity: 0.8;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}
.BgApp video{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
h1{
  margin-bottom: .5rem;
}
p{
  margin: .5rem;
}
.description{
  text-align: center;
}
.bodyCard{
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  font-weight: bold;
}
.rightBody{
  text-align: left;
}
.leftBody{
  display: flex;
  flex-direction: column;
  font-weight: bold;

}
.humidity{
  margin-left: 1rem;
}
.pressure{
  margin-left: 1.1rem;
}
.wind{
  margin-left: .7rem;
}
.fa-solid{
  color: rgb(17, 17, 236);
  margin-right: .5rem;
}
b{
  color: rgb(17, 17, 236);
}
button{
  background-color: rgb(17, 17, 236);
  border: none;
  padding: .5rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 7px;
}

@media screen and ( min-width: 600px){

  .AppApp {
    width: 65vw;
  }
}

@media screen and ( min-width: 768px){

  .AppApp {
    width: 55vw;
  }
}

@media screen and ( min-width: 992px){

  .AppApp {
    width: 45vw;
  }
}

@media screen and ( min-width: 1200px){

  .AppApp {
    width: 45vw;
  }
}

@media screen and ( min-width: 1300px){

  .AppApp {
    width: 35vw;
  }
}

@media screen and ( min-width: 1400px){

  .AppApp {
    width: 37vw;
  }
}